Raspberry/flows.json
[
    {
        "id": "534536de469fe9f4",
        "type": "tab",
        "label": "Fluxo 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d8cbb7c522723b18",
        "type": "http in",
        "z": "534536de469fe9f4",
        "name": "",
        "url": "/sala",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 500,
        "wires": [
            [
                "e419bf41e04a369e"
            ]
        ]
    },
    {
        "id": "4d12af05b6e23955",
        "type": "http response",
        "z": "534536de469fe9f4",
        "name": "",
        "statusCode": "",
        "headers": {
            "content-type": "application/json"
        },
        "x": 470,
        "y": 500,
        "wires": []
    },
    {
        "id": "a21c65fd76674cb5",
        "type": "mqtt out",
        "z": "534536de469fe9f4",
        "name": "",
        "topic": "cozinha",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "10e78a89.5b4fd5",
        "x": 281,
        "y": 240,
        "wires": []
    },
    {
        "id": "63e85fa20c0a1049",
        "type": "ui_switch",
        "z": "534536de469fe9f4",
        "name": "",
        "label": "Cozinha",
        "tooltip": "",
        "group": "61285987.c20328",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "topicType": "str",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 120,
        "y": 240,
        "wires": [
            [
                "a21c65fd76674cb5"
            ]
        ]
    },
    {
        "id": "7519e996df6e22a1",
        "type": "mqtt out",
        "z": "534536de469fe9f4",
        "name": "",
        "topic": "sala",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "10e78a89.5b4fd5",
        "x": 270,
        "y": 160,
        "wires": []
    },
    {
        "id": "4a113289f44a4c32",
        "type": "ui_switch",
        "z": "534536de469fe9f4",
        "name": "",
        "label": "Sala",
        "tooltip": "",
        "group": "61285987.c20328",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "topicType": "str",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 110,
        "y": 160,
        "wires": [
            [
                "7519e996df6e22a1"
            ]
        ]
    },
    {
        "id": "60575448f2b0d3c7",
        "type": "mqtt out",
        "z": "534536de469fe9f4",
        "name": "",
        "topic": "quarto",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "10e78a89.5b4fd5",
        "x": 270,
        "y": 80,
        "wires": []
    },
    {
        "id": "57a0f68360e33aff",
        "type": "ui_switch",
        "z": "534536de469fe9f4",
        "name": "",
        "label": "Quarto",
        "tooltip": "",
        "group": "61285987.c20328",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "topicType": "str",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 110,
        "y": 80,
        "wires": [
            [
                "60575448f2b0d3c7"
            ]
        ]
    },
    {
        "id": "98d84638247cedc1",
        "type": "mqtt out",
        "z": "534536de469fe9f4",
        "name": "",
        "topic": "banheiro",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "10e78a89.5b4fd5",
        "x": 280,
        "y": 320,
        "wires": []
    },
    {
        "id": "97e45050a1a65017",
        "type": "ui_switch",
        "z": "534536de469fe9f4",
        "name": "",
        "label": "Banheiro",
        "tooltip": "",
        "group": "61285987.c20328",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "topicType": "str",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 119,
        "y": 320,
        "wires": [
            [
                "98d84638247cedc1"
            ]
        ]
    },
    {
        "id": "e419bf41e04a369e",
        "type": "function",
        "z": "534536de469fe9f4",
        "name": "function 1",
        "func": "var valor = msg.payload;\n\n// Crie um objeto JSON com base na mensagem do MQTT e adicione informações do tópico\nvar json = {\n    dispositivo: \"sala\",\n    data: valor,\n    timestamp: new Date().toISOString()\n};\n\nmsg.payload = json;\n\n// Configure o código de status HTTP e o cabeçalho\nmsg.statusCode = 200;\nmsg.headers = {\n    \"Content-Type\": \"application/json\"\n};\n\n// Continue o fluxo da mensagem\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 500,
        "wires": [
            [
                "4d12af05b6e23955"
            ]
        ]
    },
    {
        "id": "89594d8df6dfefb4",
        "type": "mqtt out",
        "z": "534536de469fe9f4",
        "name": "",
        "topic": "sacada",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "10e78a89.5b4fd5",
        "x": 280,
        "y": 20,
        "wires": []
    },
    {
        "id": "606ab1c906326bd8",
        "type": "ui_switch",
        "z": "534536de469fe9f4",
        "name": "",
        "label": "Sacada",
        "tooltip": "",
        "group": "61285987.c20328",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "topicType": "str",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 120,
        "y": 20,
        "wires": [
            [
                "89594d8df6dfefb4"
            ]
        ]
    },
    {
        "id": "ee279eee6027ecfa",
        "type": "mqtt out",
        "z": "534536de469fe9f4",
        "name": "",
        "topic": "ventilador",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "10e78a89.5b4fd5",
        "x": 280,
        "y": 380,
        "wires": []
    },
    {
        "id": "339f122c5925b982",
        "type": "ui_switch",
        "z": "534536de469fe9f4",
        "name": "",
        "label": "Ventilador",
        "tooltip": "",
        "group": "61285987.c20328",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "topicType": "str",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 119,
        "y": 380,
        "wires": [
            [
                "ee279eee6027ecfa"
            ]
        ]
    },
    {
        "id": "b9b2efd21309ee5c",
        "type": "mqtt out",
        "z": "534536de469fe9f4",
        "name": "",
        "topic": "fogao",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "10e78a89.5b4fd5",
        "x": 270,
        "y": 440,
        "wires": []
    },
    {
        "id": "271e3ec9c73e64ff",
        "type": "ui_switch",
        "z": "534536de469fe9f4",
        "name": "",
        "label": "Fogão",
        "tooltip": "",
        "group": "61285987.c20328",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "topicType": "str",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 109,
        "y": 440,
        "wires": [
            [
                "b9b2efd21309ee5c"
            ]
        ]
    },
    {
        "id": "10e78a89.5b4fd5",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "61285987.c20328",
        "type": "ui_group",
        "name": "Smart Home",
        "tab": "e7c46d5e.a1283",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e7c46d5e.a1283",
        "type": "ui_tab",
        "name": "Dashboard",
        "icon": "dashboard"
    }
]